* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 100px;
    border: 2px solid blueviolet;
}

nav ul {
    border: 2px solid blueviolet;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px
}

.wallpaper {
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/Sfondo.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    /* Centra i pulsanti */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botton {
    height: 50px;
    width: 100px;
    background-color: violet;
    border: 2px solid green;
    color: white;
    margin-right: 10px;
    text-align: center;
    border-radius: 25%;
}

.footerlogo img {
    height: 40px;
    width: 40px;
    display: flex;
}

footer {
    text-align: center;
}