/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Applico sfondo nero al <body> */
body {
    background-color: black;
}
/* Applico la dimensione ai <div> */
div {
    height: 300px;
    width: 300px;
    /* Cambio da "block" a "inline" */
    /* display: inline-block; */   
}
/* Classe per sfondo bianco */
.white-bg {
    background-color: white;
}
/* Classe per bordo grigio */
.gray-border {
    border: 4px solid gray;
}
/* Applico effeto in hover*/
#red:hover {
    background-color: red;
}

#yellow:hover {
    background-color: yellow;
}

#green:hover {
    background-color: green;
}